Repository acm-ucr/jm-products-website, pull requests merged in 2024-07, with the labels that each got.

#8 Created Description Component
  public/images/Banner.png
  public/images/Banner.webp
  src/components/Description.jsx
Labels: Ready for review

#11 created footer
  src/components/Footer.jsx
Labels: Ready for review

#30 Added Component: Button
  src/app/page.js
  src/components/Button.jsx
Labels: Ready for review, general

#29 Banner Decor Fix
  src/components/Banner.jsx
Labels: Ready for review

#34 Made AboutJM Component
  src/components/home/AboutJM.jsx
Labels: Ready for review, home

#35 Made Wire Harnesses component
  src/components/harnesses/WireHarnesses.jsx
Labels: Ready for review, wire harnesses

#31 Line Clamps Component
  src/components/clamps/LineClamps.jsx
Labels: Ready for review, line clamps

#33 Added Harness Assembly Component
  src/components/harnesses/HarnessAssembly.jsx
Labels: Ready for review, wire harnesses

#37 19 photostrip component sujay
  src/components/home/PhotoStrip.jsx
Labels: Ready for review, home

#44 Added Hover Animation on Button
  src/components/Button.jsx
Labels: Ready for review, general

#55 Line Clamps Link Adjustments
  src/components/clamps/LineClamps.jsx
Labels: Ready for review, line clamps

#57 Refactoring LineClamps Component
  src/components/clamps/LineClamps.jsx
  src/data/LineClamps.js
Labels: Ready for review, line clamps, refactoring

#59 Refactored WireHarnesses
  src/components/harnesses/WireHarnesses.jsx
  src/data/WireHarness.js
Labels: Ready for review, wire harnesses

#58 Service Description and Modified Button Function
  src/components/Button.jsx
  src/components/home/AboutJM.jsx
  src/components/home/ServiceDescription.jsx
Labels: Ready for review, home

#60 Refactored HarnessAssembly Component
  src/components/harnesses/HarnessAssembly.jsx
  src/data/HarnessAssembly.js
Labels: Ready for review, wire harnesses, refactoring

#45 Header changes - Eddie Leung
  package-lock.json
  src/components/about/Header.jsx
Labels: address comments, about

#62 added text for the banner component
  src/app/outsourcing/page.js
Labels: Ready for review, outsourcing

#32 refactoring footer
  src/components/Footer.jsx
  src/data/Footer.js
Labels: Ready for review

#36 Implement Customer Concerns
  src/app/outsourcing/page.js
  src/components/outsourcing/BlueText.jsx
  src/components/outsourcing/CustomerConcerns.jsx
Labels: address comments, outsourcing

#70 responsiveness fix on right banner decor
  src/components/Banner.jsx
Labels: Ready for review, general, responsiveness

#73 Information Component
  src/components/about/Information.jsx
  src/data/Information.js
Labels: Ready for review, about

#71 Added OurManufacturingServices Component
  public/svg/GearIcon.svg
  public/svg/GearIconBackground.svg
  src/components/Button.jsx
  src/components/home/OurManufacturingServices.jsx
  src/components/home/ServiceDescription.jsx
Labels: Ready for review, home
