Repository acm-ucr/jm-products-website, pull requests merged in 2024-08, with the labels that each got.

#81 Responsify descriptions
  src/components/Description.jsx
  src/components/Descriptions.jsx
Labels: Ready for review, line clamps, wire harnesses, responsiveness

#82 Added the text to banner in Wire Harness Manufacturing
  src/app/wire-harnesses/page.js
Labels: Ready for review, wire harnesses

#83 Responsify Information Component
  src/components/about/Information.jsx
Labels: about, responsiveness

#69 Navbar
  package-lock.json
  package.json
  src/app/layout.js
  src/components/Navbar.jsx
  src/data/Nav.js
Labels: Ready for review, general

#87 Added a text component to outsourcing
  src/app/outsourcing/page.js
  src/components/outsourcing/BlueText.jsx
Labels: Ready for review, outsourcing

#91 Responsified OurManufacturing and ServiceDescription
  src/components/home/OurManufacturingServices.jsx
  src/components/home/ServiceDescription.jsx
Labels: Ready for review, home, responsiveness

#96 Finished Outsourcing & fixed minor error in Description
  public/images/outsourcing/ElectricalAssembly1.webp
  public/images/outsourcing/ElectricalAssembly2.webp
  src/app/outsourcing/page.js
  src/components/Description.jsx
  src/components/home/OurManufacturingServices.jsx
Labels: Ready for review, outsourcing

#99 Finished Responsive Landing
  public/images/home/LandingBackground.webp
  public/images/home/LeftCable.webp
  public/images/home/LeftClamp.webp
  public/images/home/LeftRoundClamp.webp
  public/images/home/LeftWires.webp
  public/images/home/RightCable.webp
  public/images/home/RightCableWhite.webp
  public/images/home/RightClamp.webp
  public/images/home/RightJet.webp
  src/components/Landing.jsx
  tailwind.config.js
Labels: Ready for review, home

#100 PDF Link Responsiveness
  src/components/PDFLink.jsx
Labels: Ready for review, general, responsiveness

#101 responsified footer
  src/components/Footer.jsx
Labels: Ready for review

#103 Responsified BulletPoints Component
  src/components/BulletPoints.jsx
Labels: line clamps, wire harnesses, responsiveness

#102 Mobile Banner
  public/images/BannerMobile.webp
  src/components/Banner.jsx
Labels: Ready for review, general, responsiveness

#104 Added the "about" to navbar
  src/data/Nav.js
Labels: Ready for review, general

#108 Minor fix on button
  src/components/Landing.jsx
Labels: Ready for review, home

#111 landing adjustment on laptop
  src/components/Landing.jsx
  src/components/home/AboutJM.jsx
Labels: responsiveness

#118 Added FormButton Component
  src/app/contact-us/page.js
  src/app/rfq/page.js
  src/components/FormButton.jsx
Labels: Ready for review, contact us, rfq

#123 Eddie/Responsify WhoAreWe
  src/components/about/WhoWeAre.jsx
Labels: Ready for review, responsiveness

#125 Fixed Navbar text size bug
  src/components/Navbar.jsx
Labels: bug, Ready for review, general, responsiveness

#124 Added Info Component
  src/app/contact-us/page.js
  src/components/PDFLink.jsx
  src/components/about/Information.jsx
  src/components/clamps/LineClamps.jsx
  src/components/contact-us/Info.jsx
  src/components/home/OurManufacturingServices.jsx
Labels: Ready for review, contact us

#72 Added WhyJM component
  src/components/about/WhyJM.jsx
Labels: Ready for review, about

#127 responsified about us
  src/components/home/AboutJM.jsx
Labels: Ready for review

#132 Animated Landing Page
  package-lock.json
  package.json
  src/components/Landing.jsx
Labels: Ready for review, animation

#131 LogoStrip
  src/app/line-clamps/page.js
  src/components/clamps/LogoStrip.jsx
Labels: line clamps

#134 Responsify Customer Concerns
  src/app/outsourcing/page.js
  src/components/Description.jsx
Labels: Ready for review, outsourcing, responsiveness

#137 Added mailto attribute and hover animation
  src/components/contact-us/Info.jsx
Labels: Ready for review, contact us

#149 Added gradient color to form button
  src/components/FormButton.jsx
Labels: Ready for review, outsourcing, rfq

#150 Animated Customer Concerns
  src/components/outsourcing/CustomerConcerns.jsx
Labels: animation

#151 Responsified LogoStrip
  src/components/clamps/LogoStrip.jsx
Labels: line clamps, responsiveness

#153 Added Contact Us Form Header and Responsify for Mobile
  src/app/contact-us/page.js
  src/components/contact-us/ContactForm.jsx
  src/components/contact-us/ContactHeader.jsx
  src/components/contact-us/Info.jsx
Labels: Ready for review, contact us

#154 Changed the size of footer text
  src/components/Footer.jsx
Labels: Ready for review, general

#157 Animated Banner component
  src/components/Banner.jsx
  src/components/temp
Labels: Ready for review, animation

#156 Anish/why jm font style
  src/components/about/WhyJM.jsx
Labels: Ready for review, about

#158 Animated homepage
  src/components/Landing.jsx
  src/components/home/AboutJM.jsx
  src/components/home/OurManufacturingServices.jsx
  src/components/home/ServiceDescription.jsx
  src/utils/animationVariations.js
Labels: Ready for review, home, animation

#159 Animated Line-clamps/Wire-harnesses
  src/components/BulletPoints.jsx
  src/components/Description.jsx
  src/components/PDFLink.jsx
  src/components/clamps/LogoStrip.jsx
Labels: Ready for review, animation

#169 Fixed animation to trigger only once, and adjusted delays
  src/components/home/AboutJM.jsx
  src/components/home/OurManufacturingServices.jsx
  src/components/home/PhotoStrip.jsx
  src/components/home/ServiceDescription.jsx
Labels: Ready for review, home, animation

#170 Added BlueText Animation
  src/components/outsourcing/BlueText.jsx
Labels: Ready for review, outsourcing, animation
